@{
    ViewBag.Title = "Yhteystiedot";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Hevosenkengänkatu 2<br />
    Porvoo<br />
    <abbr title="Phone">P:</abbr>
    045-7449888
</address>

<address>
    <strong>Tuki:</strong>   <a href="mailto:Support@example.com">support@careeria.fi</a><br />
    <strong>Myynti:</strong> <a href="mailto:Marketing@example.com">info@careeria.fi</a>
</address>