@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TilausDbApp</h1>
    <p class="lead">Monipuolinen sovellus tuote- ja tilaustietojen ylläpitämiseen. Ei jätä pulaan.</p>
    <p><a href="" class="btn btn-primary btn-lg">Lue lisää &raquo;</a></p>
</div>

